
.main_left{
    background-color: $color-gray;
    width: 296px;
    padding: 32px;
    h1{
    background-image: url(../images/logo-ANSWER.svg);
    width: 150px;
    height: 40px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 32px;
    }
    ul li{
        display: flex;
        margin-bottom: 32px;  
    }
    ul li a{
        text-align: center;
        vertical-align: middle;
    }
    ul li img{
        width: 24px;
        margin-right: 16px;
    }
}
.footer_left{
    display: flex;
    margin-top: 290px;
    img{
        width: 40px;
        height: 40px;
        border-radius:50%;
        margin-right: 16px;
    }
    div{
        line-height: 16px;
    }
    div p{
        font-size: 16px;
    }
    div a{
        font-size: 14px;
        color: $color-darkgray;
    }
}
